<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to image_tag("troublesolver_navigator.png", class: :logo), root_path %>
      </div>
      <div class="nav__right">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
      </div>
    </div>
  </div>
</header>
