<div class="card">
  <% event.images.first(3).each do |image| %>
    <%= link_to image_tag(image, class: :card__img), event_path(event) %>
  <% end %>
  <div class="card__body">
    <%= link_to "イベント名: #{event.title}", event_path(event), class: :card__title %>
    <p class="card__summary">
      <%= "説明 #{event.description}" %>
    </p>
    <%= link_to "投稿者 #{event.user.nickname}", user_path(event.user), class: :card__user %>
  </div>
</div>
