<%= render "shared/header" %>
<main class="main">
  <div class="inner">
   <div class="image-container">
    <div class="description">
     <div class="description__text__main">TroubleSolver Navigatorの目的と使い方を説明します。
     </div>
     <div class="description__text__sub">目的：このアプリはイベントの記録し、必要に応じて閲覧することにより、イベントを迅速に解決できるようにサポートする目的で作成されました。
     </div>
     <%= image_tag 'application_image.jpeg', class: 'greeting-image' %>
     <div class="description__text__sub">使用方法：
     </div>
     <%= image_tag 'application_image.jpeg', class: 'greeting-image' %>
     <div class="description__text__sub">イベントを記録します。
     </div>
     <div class="description__text__sub">新しいイベントが発生した際に過去に類似した出来事があった際に検索を実施します。
     </div>
     <div class="description__text__sub">過去の投稿を参考にしてイベントの迅速な解決を名指します。
     </div>  
   </div>
  </div>
</main>
<%= render "shared/description_footer" %>