<%= render "shared/header" %>
<main class="main">
  <div class="inner">
    <div class="image-container">
      <div class="description">
      <div class="description__text__main">TroubleSolver Navigatorの目的を使い方を説明します。
      </div>
      <div class="description__text__sub">このアプリはイベントの記録し、必要に応じて閲覧することにより、イベントを迅速に解決できるようにサポートする目的で作成されました。
      </div>
      <div>
      <div class="description__text__sub">あなたのイベントの記録・解決をサポートします！
      </div>
    </div>
  </div>
</main>