/* 詳細ページ */
.event__wrapper {
  min-height: calc(100vh - 161px);
}

.event__hedding {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.event__user {
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

.event__image {
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}

.event__detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
  border: 1px solid #ccc; /* 枠線を追加 */
  padding: 16px; /* 内側の余白を追加 */
  border-radius: 8px; /* 角を丸くする */
  background-color: #f9f9f9; /* 背景色を追加 */
}

.detail__title {
  font-size: 20px;
  font-weight: bold;
}

.event__manage {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.event__btn {
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.event__btn:hover {
  color: #fff;
  background: #999;
}

.event__comments {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists {
  padding-left: 20px;
}

.comments_list {
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user {
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.event__detail .detail__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.event__detail .detail__message, .event__detail .event__message {
  font-size: 16px;
  color: #333;
}

.event__manage .event__btn {
  margin: 0 8px;
}

.event__comments .field, .event__comments .actions {
  margin-bottom: 16px;
}
