.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-lightgreen-btn {
  width: 100%;
  background: #07c2f1;
  border: 1px solid #2de7ea;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  margin:  20px 20px 20px 20px;
}

.login-flash-message {
  text-align: center;
  color: red;
}